@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Program Directors</h2>
        <p>To access the RITE registration site, please click the button below.</p>
        <p>
            <a href="#" class="Button">RITE Registration</a>        
        </p>
    </div>
    
</div>
